<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %}Cinemaps{% endblock %}</title>
    <!-- Lora Typefont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: 'Lora', system-ui !important;
      }

      .sombra {
        -webkit-box-shadow: 0px 14px 22px -8px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 0px 14px 22px -8px rgba(0, 0, 0, 0.41);
        box-shadow: 0px 14px 22px -8px rgba(0, 0, 0, 0.41);
      }

      .icone-editar {
        position: absolute;
        z-index: 10;
        bottom: -10px;
        left: 0;

        padding: 0.525rem;

        border-radius: 50%;

        width: 40px;
        height: auto;
        aspect-ratio: 1;

        color: black;
      }

      .icone-editar::after {
        content: '';
        z-index: 0;

        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;

        padding: 0.525rem;

        background-color: rgba(34, 34, 34, 0.297);
        filter: blur(6px);
        border-radius: 50%;
      }
    </style>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- MapLibre CDN -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.css"
    />
    <script src="https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.js"></script>
  </head>
  <body>
    <!-- Obtém as mensagens criadas com o metodo 'flash' e exibe -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div style="z-index: 20;" class="mb-5 alert alert-success alert-dismissible fade show position-absolute bottom-0 start-50 translate-middle-x" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% if erro %}
      <div style="z-index: 20;" class="mb-5 alert alert-{{ tipo_erro }} alert-dismissible fade show position-absolute bottom-0 start-50 translate-middle-x" role="alert">
        {{ erro }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    {% block info_mapa %}
      <!-- Componente de Pesquisa -->
      <div
        class="bg-white d-flex justify-content-between align-items-center rounded-pill p-2 position-absolute top-0 start-50 translate-middle my-5"
        style="z-index: 1"
      >
        <div class="d-flex align-items-center">
          <button
            class="col-2 border-0 bg-transparent h-100"
            type="button"
            aria-controls="menu-lateral"
            data-bs-toggle="offcanvas"
            data-bs-target="#menu-lateral"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="35"
              fill="currentColor"
              class="bi bi-list"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
              />
            </svg>
          </button>
          <form
            class="d-flex align-items-center justify-content-center border-0 bg-transparent fs-4"
          >
            <input
              class="bg-transparent border-0"
              type="text"
              id="pesquisar"
              name="pesquisar"
              placeholder="Pesquisar..."
            />
          </form>
        </div>

        <button
          class="border-0 bg-transparent"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-perfil"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            fill="currentColor"
            class="bi bi-person-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
            />
          </svg>
        </button>
      </div>

      <!-- Mapa principal -->
      <main>
        <div style="min-height: 100dvh; width: auto" id="map"></div>
      </main>

      <!-- Menu Lateral -->
      <div
        class="offcanvas offcanvas-start"
        style="width: 75dvw"
        tabindex="-1"
        id="menu-lateral"
        aria-labelledby="menu-lateral"
      >
        <div class="offcanvas-header border-1 border-bottom m-3 p-6">
          <img class="mh-100" style="max-width: 75%;" src="{{ url_for('static', filename='/images/logo-letreiro.png') }}" alt="Logo CineMaps">
        </div>
        <div class="offcanvas-body">
          <ul class="list-group list-unstyled fs-3 px-3 gap-4">
              <li><a href="#" style="color: currentColor;" class="text-decoration-none">Salvos</a></li>
              <li><a href="#" style="color: currentColor;" class="text-decoration-none">Histórico</a></li>
              <li><a href="#" style="color: currentColor;" class="text-decoration-none">Configurações</a></li>
              <li><a href="#" style="color: currentColor;" class="text-decoration-none">Ajuda</a></li>
              <li><a href="#" style="color: currentColor;" class="text-decoration-none">Sair</a></li>
          </ul>
        </div>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="modal-perfil"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        tabindex="-1"
      >
        <div class="modal-dialog modal-dialog-centered mh-5">
          <div class="modal-content">
            <div class="modal-header">
              <div class="d-flex">
                {% if session %}
                <div class="col-5">
                  <div class="col-6 m-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                  </div>
                </div>
                  <div class="col-7 d-flex justify-content-center flex-column">
                    <h3 class="fw-bold m-0">@{{ session['usuario'] }}</h3>
                    <p class="fw-bold m-0">{{ session['email'] }}</p>
                  </div>
                {% else %}
                  <div class="col-7 d-flex justify-content-center flex-column">
                    <p class="m-0">Entre ou crie uma conta para acessar essas funções!</p>
                    <p class="m-0"><a href="/cadastro">Criar conta</a></p>
                  </div>
                {% endif %}
              </div>

              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Fechar"
              ></button>
            </div>

            <div class="modal-body">
              {% if session %}
                <ul class="list-group d-flex flex-column list-unstyled fs-5">
                  <li><a class="text-decoration-none" style="color: currentColor" href="#">Alterar nome de usuário</a></li>
                  <li><a class="text-decoration-none" style="color: currentColor" href="#">Alterar email</a></li>
                  <li><a class="text-decoration-none" style="color: currentColor" href="#">Alterar senha</a></li>
                  <li><a class="text-decoration-none" style="color: currentColor" href="/sair">Sair</a></li>
                  <li><a class="text-decoration-none" style="color: currentColor" href="#">Excluir conta</a></li>
                </ul>
              {% else %}
                <ul style="filter: blur(3px);" class="list-group d-flex flex-column list-unstyled fs-5">
                  <li><a class="btn border-0 disabled text-decoration-none" style="color: currentColor" href="#">Alterar nome de usuário</a></li>
                  <li><a class="btn border-0 disabled text-decoration-none" style="color: currentColor" href="#">Alterar email</a></li>
                  <li><a class="btn border-0 disabled text-decoration-none" style="color: currentColor" href="#">Alterar senha</a></li>
                  <li><a class="btn border-0 disabled text-decoration-none" style="color: currentColor" href="/sair">Sair</a></li>
                  <li><a class="btn border-0 disabled text-decoration-none" style="color: currentColor" href="#">Excluir conta</a></li>
                </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

    {% endblock %}

    {% block children %} {% endblock %}

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <!-- É necessário declarar o script como module para obter todas as classes do MapLibre -->
    <script type="module">
      var map = new maplibregl.Map({
        container: "map", // Id do container
        style:
          "https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL", // Obtém o estilo padrão de mapa
        // Coordenadas de sp
        center: [-46.6388, -23.5489], // starting position [lng, lat]
        zoom: 12, // Zoom inicial, no nível de cidade
      });

        map.on("load", async () => {
          // Add an image to use as a custom marker
          const image = await map.loadImage(
            "https://maplibre.org/maplibre-gl-js/docs/assets/custom_marker.png"
          );
          map.addImage("custom-marker", image.data);
  
          map.addSource("points", {
            type: "geojson",
            data: {
              type: "FeatureCollection",
              features: [
                {
                  type: "Feature",
                  properties: {
                    idCinema: "1284",
                  },
                  geometry: {
                    type: "Point",
                    coordinates: [-46.6174281585686, -23.543942899027343],
                  },
                },
                {
                  type: "Feature",
                  properties: {
                    idCinema: "125125",
                  },
                  geometry: {
                    type: "Point",
                    coordinates: [-46.621201604070166, -23.524672887623936],
                  },
                },
                {
                  type: "Feature",
                  properties: {
                    idCinema: "4568",
                  },
                  geometry: {
                    type: "Point",
                    coordinates: [-46.66201974675158, -23.55660337207165],
                  },
                },
              ],
            },
          });
  
          // Adicionar a camada 'symbols' com os pontos inseridos
          map.addLayer({
            id: "symbols",
            type: "symbol",
            source: "points",
            layout: {
              "icon-image": "custom-marker",
            },
        });

        // Muda o cursor para click quando passa por cima do marker
        map.on("mouseenter", "symbols", () => {
          map.getCanvas().style.cursor = "pointer";
        });

        // E tira ele quando o mouse sair
        map.on("mouseleave", "symbols", () => {
          map.getCanvas().style.cursor = "";
        });

        map.on("click", "symbols", (e) => {
          // Obtém a data do objeto
          const data = e.features[0].properties;

          // Redireciona para a página daquele cinema
          window.location.href = "/cinemas/" + data.idCinema;
        });
      });

      // Pede acesso à localização do usuário e centraliza o mapa nessa posição
      map.addControl(
          new maplibregl.GeolocateControl({
              positionOptions: {
                  enableHighAccuracy: true
              },
              trackUserLocation: true,
            }),
          'bottom-left'
      );
    </script>
  </body>
</html>
